  <div class="container">
    <div class="row">
        <div class="col s12 m7">
            <a class="" routerLink="/">
              <img src="https://emojifaces.org/assets/img/twitter/100-emoji-twemoji-11.1-128.png" width="30px" height="30px">
            </a>
            <h3>Motivational hustle quotes from Hiphop and Sports*</h3>
          <nav>
            <a class="button" routerLink="/" routerLinkActive="activeButton" ariaCurrentWhenActive="page">Show Quote</a> 
            <a class="button" routerLink="/quote-list" routerLinkActive="activeButton" ariaCurrentWhenActive="page">List Quotes</a>
            <a class="button" routerLink="/add-quote"  routerLinkActive="activeButton" ariaCurrentWhenActive="page">Add Quotes</a>
          </nav>
        </div>
    </div>
    <router-outlet></router-outlet>
  </div>

